body{
	background: #f4f4f4;
}
.navbar{
	/*min-height:  35px !important;*/
	margin-bottom: 0;
}
.navbar-default {
  background-color: #685e5e;
  border-color: #a9a9a9;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #040000;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #040000;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #040000;
  background-color: #a9a9a9;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #040000;
  background-color: #a9a9a9;
}
.navbar-default .navbar-toggle {
  border-color: #a9a9a9;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #a9a9a9;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #040000;
}
.main-color-bg{
  background-color: #9f8987 !important;
  border-color: #a9a9a9 !important;
  color: #ffffff !important;
}

#header{
	background: #333333;
	color: #ffffff;
	padding-bottom: 10px;
	margin-bottom: 15px; 
}

#header .create{
	padding-top: 20px;
}

.breadcrumb{
	background: #cccccc;
	color: #333333;
  margin-bottom: 0px;
}

.breadcrumb a{
	color: #333333;
  margin-bottom: 0px;
}

.dash-box{
	text-align: center;
}

#login{
	margin-top: 30px;
}

#footer{
	background: #333333;
	color: #ffffff;
	text-align: center;
	padding: 10px;
	margin-top: 5px;
}


@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #040000;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #040000;
    background-color: #a9a9a9;
  }
}